@model School.Models.ClassRoomModel.ClassRoomDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassRoom  Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ClassRoomId)
        </dt*@

        @*<dd>
            @Html.DisplayFor(model => model.ClassRoomId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ClassRomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassRoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
